@page
@model FriendList
@{
    ViewData["Title"] = "FriendList";
}

<!-- Page list-of-quotes -->
<div class="container px-4 py-4" id="list-of-quotes">
    <h2 class="pb-2 border-bottom">A List of Friends and their quotes and Birthdate</h2>

    <p>Below are some Friends and their quotes</p>
    @foreach (var item in Model.Friends)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @item.FirstName @item.LastName
                <div class="col-md-16  text-end">@item.Birthday </div>

                 @foreach( var quote in item.Quotes )
               {
                 <div class="col-md-16  text-end">@quote.QuoteText </div>
               }

               
            </div>
            <div class="col-md-2 themed-grid-col">
@*                 <a href="~/Studies/Model/ModelView?id=@item.FriendId" class="btn btn-success btn-sm" type="button">View</a> *@
             <a asp-page="/Model/ModelView"w" asp-route-id=@item.FriendId class="btn btn-success btn-sm" type="button">View</a>
            </div>
        </div>
    }

       <nav aria-label="Standard pagination example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" asp-page="FriendList" asp-route-pagenr=@Model.PrevPageNr asp-route-search=@Model.SearchFilter aria-label="Previous">@*&search=@Model.SearchFilter*@
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < Model.NrVisiblePages; i++)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="FriendList" asp-route-pagenr=@i asp-route-search=@Model.SearchFilter>@(i+1)</a>@*&search=@Model.SearchFilter*@
                </li>

            }
            <li class="page-item">
                <a class="page-link" asp-page="FriendList" asp-route-pagenr=@Model.NextPageNr asp-route-search=@Model.SearchFilter aria-label="Next">@*&search=@Model.SearchFilter*@
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    
      
 

