@page
@model  GoodFriends_ProjectB_RazorPages.Pages.Pages.InputModelSimpleModel 
@{
    ViewData["Title"] = " InputModelSimpleModel";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]
<!-- Page view-quote -->
<div class="container px-4 py-4" id="view-group">
    <form class="needs-validation" method="post" novalidate>
        
       <!-- <input type="hidden" name="FriendId" data-seido-selected-item-id-target /> -->
      
        <!-- Hidden fields used to bind input model -->
        <input asp-for="FriendIM.FriendId" value="@Model.FriendIM.FriendId" type="hidden" />
        <input asp-for="FriendIM.StatusIM" value="@Model.FriendIM.StatusIM" type="hidden" />
        <input asp-for="FriendIM.Pets" value="@Model.FriendIM.Pets" type="hidden" />

        <h2 class="pb-2 border-bottom">
            @Model.PageHeader
            <button class="btn btn-primary-outline" type="submit" asp-page-handler="Save">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#save" /></svg>
            </button>
            @if (Model.FriendIM?.StatusIM != GoodFriends_ProjectB_RazorPages.Pages.Pages.InputModelSimpleModel.StatusIM.Inserted)
            {
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Undo">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#undo" /></svg>
                </button>
            }
        </h2>

        @if (Model.ErrorMessage != null)
        {
            <div class="row mb-1 text-center">
                <span class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </span>
            </div>
        }
        else
        {
            <!-- Server side validation errors, rough but just in case client side validation is not working or tampered with -->
            @if (Model.HasValidationErrors)
            {
                <div class="row g-3">
                    @foreach (var item in Model.ValidationErrorMsgs)
                    {
                        <span class="alert alert-danger" role="alert">
                            @item
                        </span>
                    }
                </div>
            }
            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
                <div class="col-md-7 col-lg-10">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">FirstName</label>
                            <input type="text" class="form-control" asp-for="FriendIM.FirstName" id="firstName" value="@Model.FriendIM?.FirstName">
                            <span asp-validation-for="FriendIM.FirstName" class="invalid-feedback"></span>

                             <label for="lastName" class="form-label">LastName</label>
                            <input type="text" class="form-control" asp-for="FriendIM.LastName" id="lastName" value="@Model.FriendIM?.LastName">
                            <span asp-validation-for="FriendIM.LastName" class="invalid-feedback"></span>
                        </div>
                        <div class="col-sm-6">
                        </div>

                         @if (Model.FriendIM?.Quotes != null)
                        {
                                @foreach( var quote in Model.FriendIM.Quotes) 
                                {
                                <div class="col-sm-12">
                                    <label for="quote" class="form-label">Quote</label>
                                    <input type="text" class="form-control" asp-for="FriendIM.Quotes" id="quote" value="@quote.QuoteText">
                                    <span asp-validation-for="FriendIM.Quotes" class="invalid-feedback"></span>
                                </div>
                                }
                        }
                        @if (Model.FriendIM?.Pets != null)
                        {
                            @foreach ( var pet in Model.FriendIM.Pets)
                            {
                            <div class="col-sm-6">
                                <label for="author" class="form-label">Pet</label>
                                <input type="text" class="form-control" asp-for="FriendIM.Pets" id="pets" value="@pet.Name the @pet.Mood @pet.Kind">
                                <span asp-validation-for="FriendIM.Pets" class="invalid-feedback"></span>
                            </div>
                            }
                        }
                        <div class="col-sm-6">
                        </div>
                      
                    </div>
                </div>
            </div>

        }
    </form>

    <!-- inital template that can be easily hidden -->
    <div class="d-none">
        <form class="needs-validation" method="post" novalidate>
            <h2 class="pb-2 border-bottom">
                TEMPLATE
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Save">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#save" /></svg>
                </button>
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Undo">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#undo" /></svg>
                </button>
            </h2>

            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
                <div class="col-md-7 col-lg-10">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="author" class="form-label">Author</label>
                            <input type="text" class="form-control" id="author" value="Sir Connan Doyle" readonly>
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-12">
                            <label for="quote" class="form-label">Quote</label>
                            <input type="text" class="form-control" id="quote" value="Sherlock is best" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

 @section script
{
    <!-- -->
    <partial name="_ValidationScriptsPartial" />
}
 

